@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2:  "Sriracha", cursive;;
    --font3: "Passion One", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 60px;
    font-variant: small-caps;
    font-weight:bolder;
    font-family: var(--font1);
    font-size: 8vw;
}

header > p{
    padding-bottom: 60px;
}

a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font2);
    font-size: 3vw;
}

.espaco {
    padding-bottom: 2em;
}

.quadro {
    box-shadow: black ;
}

#fundo1{
    background-image: url("../imagens/background001.jpg");
    background-position: center right;

} 

#fundo2 {
    background-image: url("../imagens/background002.jpg");
}

#fundo1 > p, #fundo2 > p{
    background-color: rgba(0, 0, 0, 0.268);
    display: inline-block;
    color: white;
    padding: 10px;

}

.imagem {
    background-size: cover;
    box-shadow: inset 5px 5px 13px 0px rgba(0, 0, 0, 0.523);
    background-attachment: fixed;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
}